.list-container {
  position: relative;
}
.tree-container.nested .something {
  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 1px;
    background: grey;
    left: -30px;
    top: 9px;
  }
}
.list-container {
  & ul.tree-container:first-child li:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    display: block;
    width: 0;
    border-left: 1px solid #777;
    content: "";
  }
  & ul.tree-container li:first-child {
    padding: 0;
  }
  & ul.tree-container li:last-child {
    padding: 0;
  }
  & .user-icon {
    position: relative;
    z-index: 2;
    background: white;
    &:after {
      position: absolute;
      //content: '';
      width: 1px;
      height: 36px;
      background: white;
      left: 7px;
      top: -11px;
      z-index: -2;
    }
  }
}

.icon-wrapper {
  left: -10px;
}
.tree-content li {
  position: relative;
}
.tree > .tree-container {
  list-style: none;
  padding: 0;
}
