.p-0 {
  padding: 0px !important;
}

.p-t-0-1 {
  padding-top: 4px;
}

.p-t-1 {
  padding-top: 8px;
}

.p-t-1-1 {
  padding-top: 12px;
}

.p-t-2 {
  padding-top: 16px;
}

.p-t-2-1 {
  padding-top: 20px;
}

.p-t-3 {
  padding-top: 24px;
}

.p-t-4 {
  padding-top: 32px;
}

.p-t-5 {
  padding-top: 40px;
}

.p-b-0-1 {
  padding-bottom: 4px;
}

.p-b-1 {
  padding-bottom: 8px;
}

.p-b-1-1 {
  padding-bottom: 12px;
}

.p-b-2 {
  padding-bottom: 16px;
}

.p-b-2-1 {
  padding-bottom: 20px;
}

.p-b-3 {
  padding-bottom: 24px;
}

.p-b-4 {
  padding-bottom: 32px;
}
.p-b-5 {
  padding-bottom: 40px;
}

.p-b-8 {
  padding-bottom: 64px;
}

.p-l-1-1 {
  padding-left: 12px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-1 {
  padding-left: 8px;
}

.p-l-2 {
  padding-left: 16px;
}

.p-l-3 {
  padding-left: 24px;
}

.p-l-4 {
  padding-left: 32px;
}

.p-l-5 {
  padding-left: 40px;
}

.p-l-8 {
  padding-left: 64px;
}

.p-r-0-1 {
  padding-right: 4px;
}

.p-r-1 {
  padding-right: 8px;
}

.p-r-1-1 {
  padding-right: 12px;
}

.p-r-2 {
  padding-right: 16px;
}

.p-r-2-1 {
  padding-right: 20px;
}

.p-r-3 {
  padding-right: 24px;
}

.p-r-5 {
  padding-right: 40px;
}

.p-r-8 {
  padding-right: 64px;
}

.p-x-1 {
  padding-right: 8px;
  padding-left: 8px;
}

.p-x-0-1 {
  padding: 0px 4px;
}

.p-x-1-1 {
  padding-left: 12px;
  padding-right: 12px;
}
.p-x-2-1 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-x-2 {
  padding-right: 16px;
  padding-left: 16px;
}

.p-x-3 {
  padding-right: 24px;
  padding-left: 24px;
}

.p-x-4 {
  padding-right: 32px;
  padding-left: 32px;
}

.p-x-5 {
  padding-right: 40px;
  padding-left: 40px;
}
.p-x-6 {
  padding: 0px 48px;
}

.p-x-7-1 {
  padding-right: 60px;
  padding-left: 60px;
}
.p-y-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.p-x-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.p-y-0-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-y-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-y-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-y-2-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-y-1-1 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.p-y-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.p-y-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-y-5 {
  padding: 40px 0;
}

.p-a-0-1 {
  padding: 4px;
}

.p-a-1 {
  padding: 8px;
}

.p-a-1-1 {
  padding: 12px;
}

.p-a-2 {
  padding: 16px;
}

.p-a-2-1 {
  padding: 20px;
}

.p-a-3 {
  padding: 24px;
}

.m-0 {
  margin: 0px;
}

.m-a-0-1 {
  margin: 4px;
}

.m-a-1-1 {
  margin: 12px;
}

.m-a-2-1 {
  margin: 20px;
}

.m-a-3 {
  margin: 24px;
}
.m-a-2 {
  margin: 16px;
}

.m-a-5 {
  margin: 40px;
}

.m-r-0-1 {
  margin-right: 4px;
}

.m-r-1 {
  margin-right: 8px;
}

.m-r-1-1 {
  margin-right: 12px;
}

.m-r-2 {
  margin-right: 16px;
}

.m-r-2-1 {
  margin-right: 20px;
}

.m-r-3 {
  margin-right: 24px;
}

.m-r-4 {
  margin-right: 32px;
}

.m-l-0-1 {
  margin-left: 4px;
}

.m-l-1-1 {
  margin-left: 12px;
}

.m-l-1 {
  margin-left: 8px;
}

.m-l-2 {
  margin-left: 16px;
}

.m-l-2-1 {
  margin-left: 20px;
}

.m-l-3 {
  margin-left: 24px;
}

.m-l-4 {
  margin-left: 32px;
}

.m-l-5 {
  margin-left: 40px;
}

.m-t-0-1 {
  margin-top: 4px;
}

.m-t-1 {
  margin-top: 8px;
}

.m-t-1-1 {
  margin-top: 12px;
}

.m-t-2 {
  margin-top: 16px;
}

.m-t-2-1 {
  margin-top: 20px;
}

.m-t-3 {
  margin-top: 24px;
}

.m-t-4 {
  margin-top: 32px;
}
.m-t-5 {
  margin-top: 40px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-0-1 {
  margin-bottom: 4px;
}

.m-b-1 {
  margin-bottom: 8px;
}

.m-b-1-1 {
  margin-bottom: 12px;
}

.m-b-2-1 {
  margin-bottom: 20px;
}

.m-b-3 {
  margin-bottom: 24px;
}

.m-b-4 {
  margin-bottom: 32px;
}

.m-b-5 {
  margin-bottom: 40px;
}

.m-b-8 {
  margin-bottom: 64px;
}

.m-b-2-1 {
  margin-bottom: 12px;
}

.m-b-2 {
  margin-bottom: 16px;
}

.m-b-3 {
  margin-bottom: 24px;
}

.m-b-4 {
  margin-bottom: 32px;
}

.m-b-5 {
  margin-bottom: 40px;
}

.m-y-0-1 {
  margin: 4px 0;
}

.m-y-1-1 {
  margin: 12px 0;
}

.m-y-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-y-2-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-y-3 {
  margin: 24px 0;
}

.m-y-5 {
  margin: 40px 0;
}

.m-x-0-1 {
  margin-right: 4px;
  margin-left: 4px;
}

.m-x-1 {
  margin-right: 8px;
  margin-left: 8px;
}

.m-x-1-1 {
  margin-left: 12px;
  margin-right: 12px;
}

.m-x-2 {
  margin: 0 16px;
}

.m-x-3 {
  margin: 0 24px;
}

.m-x-4 {
  margin-right: 32px;
  margin-left: 32px;
}

.m-x-5 {
  margin-right: 40px;
  margin-left: 40px;
}

.m-x-6 {
  margin: 0 48px;
}

.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-l-auto {
  margin-left: auto;
}
.m-r-auto {
  margin-right: auto;
}

.m-y-auto {
  margin: auto 0;
}

/* Relative margins */

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

.float-right {
  float: right;
}

.full-space {
  height: 100% !important;
  width: 100% !important;
}
.flex-item-1 {
  flex: 1 0 0;
}
.v-align-middle {
  vertical-align: middle;
}
