.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.35);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    &_header {
      font-size: 18px;
      font-weight: 500;
      & .close{
        position: absolute;
        top: 16px;
        right: 22px;
      }
    }
    background-color: #ffffff;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

    &_content p {
      &.header{
        font-weight: 600;
      }
      padding: .3rem 0;
    }
  }
}
